@import './node_modules/reveal.js/dist/reset.css';
@import './node_modules/reveal.js/dist/reveal.css';
@import './node_modules/reveal.js/dist/theme/black.css';

figcaption {
  font-size: small;
  line-height: 0;
}

.hidden {
  display: none;
}

.smaller-size {
  font-size: 0.9em;
}

.smaller-text {
  font-size: 0.7em;
}
