@import 'node_modules/reveal.js/css/reset.css';
@import 'node_modules/reveal.js/css/reveal.scss';
@import 'node_modules/reveal.js/css/theme/black.css';

figcaption {
  font-size: small;
  line-height: 0;
}

.hidden {
  display: none;
}

.smaller-size {
  font-size: 0.9em;
}

.smaller-text {
  font-size: 0.7em;
}
